body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.sidebar-absolute {
    position: absolute;
    color: White;
    left: 20px;
    top: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(10, 10, 10, 0.5);
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding-bottom: 10px;
}

.arrow-up, .arrow-down {
    margin-left: -20px;
    width: 0;
    height: 0;
    opacity: 0.7;
    position: absolute;
    left: 275px;
    top: 43px;
}

.arrow-up {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
}

.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
}

.arrow-up:hover .arrow-down:hover {
    opacity: 1;
}

.btn {
    margin: 3px;
    width: 60px;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

select {
    width: 100%;
}

#canvas2d {
    margin-left: 75px;
}