<div ng-show="vm.toggleCurtain" class="curtain"><p>Downloading model, please wait...</p></div>
<div class="tool-panel right">
  <b>Palettes:</b><br/>
  <select ng-model="vm.palettes.selectedPalette"
          ng-options="palette.name for palette in vm.palettes track by palette.id"
          ng-selected="vm.drawLegend();vm.reDraw();"></select><br/>
  Number of steps:<br/><input id="tbNumSteps" type="number" ng-model="vm.numSteps"/><br/>
  <input ng-model="vm.inverted" type="checkbox" ng-change="vm.drawLegend();vm.reDraw();"/>Inverted<br/>
  <span monolit-legend-view inverted="inverted"></span>
  <!--<canvas id="cvsLegend" width="150" height="500"></canvas><br/>-->
  <button class="btn" ng-click="vm.downloadMesh(true)">Apply</button>
</div>
<!-- model view -->
<span monolit-fem-view></span>